@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .text-center {
            text-align: center;
        }

        .welcome-message {
            margin-top: 50px;
            font-size: 36px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to My Blog!</h1>
    </div>
</body>*@

<head>
    <div>
        <h2>Welcome to My Blog</h2>
        <h5>
           Hey! My name is Tiamat.This is my blog.
        </h5>
    </div>
</head>

<body>
    
</body>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial"></partial>

    }

}
